<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../main.css" />
    <link rel="stylesheet" href="groups.css" />
    <title>Group Dashboard</title>
  </head>
  <body>
    <header>
      <a href="/"> Collie </a>
      <h1>Group Dashboard</h1>
      <a href="create.html">Create New Group</a>
    </header>
    <main id="main-content">
      <!-- Main content will be injected here -->
    </main>
  </body>
</html>
